body {
    margin: 0;
}

main {
    max-width: 96%;
    height: 100vh;
    background: gray;
    margin: 0 auto;
}

.container {
    height: 60%;
    max-width: 96%;
    margin: 0 auto;
    padding-top: 40px;
    background: red;
}

.slider {
    max-width: 90%;
    overflow: hidden;
    margin: 0px auto;
    background: red;
}

.img-wrapper {
    display: flex;
    background: blue;
}

.meme-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.meme-dot {
    display: flex;
}

.dot-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.dot {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
}


.meme-text span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #fff;
    display: none;
}